<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <br>
        <div class="container">

            <div class="card">

                <div class="card-header">
                    <h1>Edição de Grade</h1>
                    <p>Edite as grades do produto</p>
                </div>
                <div class="card-body">

                    <form action="/grade/editar" method="POST" class="row g-3 needs-validation"
                        onsubmit="sub(event,this)" novalidate>
                        <input type="hidden" name="gradeId" value="<%=grade.id%>">

                        <label for="titulo" class="form-label">Descrição</label>
                        <input type="text" class="form-control" name="descricao" id="titulo"
                            placeholder="Informe aqui a descrição de sua grade" autocomplete="off" required
                            value="<%=grade.descricao%>">
                        <div class="valid-feedback">
                            Tudo ok!
                        </div>
                        <div class="invalid-feedback">
                            Esse campo é obrigatório
                        </div>
                        <div class="col-md-3">
                            <label for="validationCustom04" class="form-label">Status</label>
                            <select class="form-select" name="status" id="validationCustom04" required>
                                <%if(grade.status==true){%>
                                    <option value="true" selected>Ativo</option>
                                    <option value="false">Desativado</option>
                                    <%}else{%>
                                        <option value="true">Ativo</option>
                                        <option value="false" selected>Desativado</option>
                                        <%}%>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <hr>
                                <label for="linha" class="form-label">Linha</label>
                                <input type="text" class="form-control" name="linha" id="linha"
                                    placeholder="Informe aqui a descrição de sua grade" autocomplete="off" 
                                    value="<%=grade.linha%>">
                                <div class="valid-feedback">
                                    Tudo ok!
                                </div>
                                <div class="invalid-feedback">
                                    Esse campo é obrigatório
                                </div>

                                <hr>
                                <ul class="list-group">
                                    <%var countl = 1%>
                                    <%linhas.forEach(linha =>{%>
                                    <li class="list-group-item list-group-item-primary"><input type="text" name="l<%=countl%>>" value="<%=linha.linha%>"
                                            class="form-control"></li>
                                        <%countl ++%>
                                            <%})%>
                                            <input type="hidden" name="countl" id="countl" value="<%=countl%>">
                                            <span id="spanl"></span>
                                            <input type="button" class="form-control btn btn-success mt-3 fw-bold fs-3" value="+" onclick="addLinha()">
                                            <input type="hidden" name="countl" id="contageml">

                                </ul>
                            </div>

                            <div class="col-sm">
                                <hr>
                                <label for="coluna" class="form-label">Coluna</label>
                                <input type="text" class="form-control" name="coluna" id="coluna"
                                    placeholder="Informe aqui a descrição de sua grade" autocomplete="off" >
                                <div class="valid-feedback">
                                    Tudo ok!
                                </div>
                                <div class="invalid-feedback">
                                    Esse campo é obrigatório
                                </div>
                                <hr>
                                <ul class="list-group">
                                    <%var countc = 1%>
                                    <%colunas.forEach(coluna =>{%>
                                    <li class="list-group-item list-group-item-primary"><input type="text" name="c<%=countc%>" value="<%=coluna.coluna%>"
                                        class="form-control"></li>
                                        <input type="hidden" name="cid<%=countc%>" value="<%=coluna.id%>">
                                        <%countc ++%>
                                        <%})%>
                                        <input type="hidden" id="countc" value="<%=countc%>">
                                            <span id="spanc"></span>
                                            <input type="button" class="form-control btn btn-success mt-3 fw-bold fs-3" value="+" onclick="addColuna()">
                                            <input type="hidden" name="countc" id="contagemc">
                                </ul>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button class="btn btn-primary form-control" id="buttom">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>
            <script>
                var x = 0
                function addLinha(){
                    var hidden = document.getElementById("countl").value
                    var y = parseInt(hidden) + x
                    var contageml = document.getElementById("contageml").value = y
                    var span = document.getElementById('spanl')
                    var span2 = document.createElement("span")
                    span2.innerHTML = `<li class="list-group-item list-group-item-primary"><input type="text" name="l${y}" id="l${y}" class="form-control"></li>`
                    span.insertBefore(span2, null);
                    x++
                }
                var k = 0
                function addColuna(){
                    var hidden = document.getElementById("countc").value
                    var z = parseInt(hidden) + k
                    var contagemc = document.getElementById("contagemc").value = z
                    var span = document.getElementById('spanc')
                    var span2 = document.createElement("span")
                    span2.innerHTML = `<li class="list-group-item list-group-item-primary"><input type="text" name="c${z}" id="c${z}" class="form-control"></li>`
                    span.insertBefore(span2, null);
                    k++
                }
            </script>