<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/navegador.ejs')%>
        <div class="card">
            <div class="card-header">
                <h1>Listagem de Grades</h1>
                <p>Vizualize suas grades </p>
                <a href="/admin/grade/novo" class="btn btn-primary">Adicionar nova grade</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center my-3">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>Código</th>
                                <th>Descrição</th>
                                <th>Linha</th>
                                <th>Coluna</th>
                                <th>Status</th>
                                <th>*</th>
                            </tr>
                        </thead>
                        <%grades.forEach(grade=>{%>
                            <tr >
                                <td><%=grade.id %></td>
                                <td><%=grade.descricao %></td>
                                <td><%=grade.linha%></td>
                                <td><%=grade.coluna%></td>
                                <td><%=(grade.status == true)?'Ativo':'Desativado'%></td>
                                <td><a href="/admin/grade/editar/<%=grade.id%>" class="btn btn-outline-warning">Editar</a></td>
                            </tr>
                        <%})%>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>
            <script src="/js/jquery.dataTables.min.js"></script>
            <script src="/js/dataTables.bootstrap5.min.js"></script>
            <script>$(document).ready(function() {
                $('#table').DataTable({
                    "info":false,
                    "language": {"lengthMenu":"Mostrar _MENU_ Linhas"}
                });
            } );</script>