<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/navegador.ejs')%>
        <div class="card">
            <div class="card-header">
                <h1>Listagem de Grades</h1>
                <p>Vizualize suas grades </p>
                <a href="/admin/grade/novo" class="btn btn-primary">Adicionar nova grade</a>
            </div>
            <form class="d-flex" method="POST" action="/grades/find">
                <input class="form-control me-2" type="search" placeholder="Search" name="busca" aria-label="Search" >
                <button class="btn btn-outline-success" type="submit">Pesquisa</button>
              </form>
            <div class="card-body">
                <ul class="list-group list-group-horizontal">
                    <button type="button" class="list-group-item list-group-item-action active"
                        aria-current="true">
                        Código:
                    <button type="button" class="list-group-item list-group-item-action active"
                        aria-current="true" >
                        Descrição:
                    <button type="button" class="list-group-item list-group-item-action active"
                        aria-current="true">
                        Linha:
                        <button type="button" class="list-group-item list-group-item-action active"
                        aria-current="true">
                        Coluna:
                    <button type="button" class="list-group-item list-group-item-action active"
                        aria-current="true">
                        Status:

            </ul>
                <%grades.forEach(grade=>{%>
                    <ul class="list-group list-group-horizontal" onclick="window.location='/admin/grade/editar/<%=grade.id%>'">
                    <button type="button" class="list-group-item list-group-item-action" > <%=grade.id %> </button>
                    <button type="button" class="list-group-item list-group-item-action"><%=grade.descricao %></button>
                    <button type="button" class="list-group-item list-group-item-action"><%=grade.linha%></button>
                    <button type="button" class="list-group-item list-group-item-action"><%=grade.coluna%></button>
                    <%if(grade.status == true){%>
                        <button type="button" class="list-group-item list-group-item-action">Ativo</button>
                    <%}else{%>
                        <button type="button" class="list-group-item list-group-item-action">Desativado</button>
                    <%}%>
                </ul>
            <%})%>
            </div>
        </div>
    </div>
</div>

        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>