<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Adiçao Saldo de Estoque
                    <hr>
                    <select name="produtoId" id="produto" class="form-select" onchange="selecionar()" required>
                        <option value="0"></option>
                        <%if(prod==0){%>
                            <%produtos.forEach(produto=>{%>
                                <option value="<%=produto.id%>">
                                    <%=produto.nome%>
                                </option>
                                <%})%>
                                    <%}else{%>
                                        <%produtos.forEach(produto=>{%>
                                            <%if(produto.id==prod.id){%>
                                                <option value="<%=produto.id%>" selected>
                                                    <%=produto.nome%>
                                                </option>
                                                <%}else{%>
                                                    <option value="<%=produto.id%>">
                                                        <%=produto.nome%>
                                                    </option>
                                                    <%}%>
                                                        <%})%>
                                                            <%}%>
                    </select>
                </div>

                <div class="card-body">

                    <form action="/estoque/acerto" method="POST" class="row g-3 needs-validation"
                        onsubmit="sub(event,this)" novalidate id="form1">
                        <input type="hidden" name="prodId" value="<%=prod.id%>">
                        <%if(grade != 0){%>
                        <h4>
                            <%= grade.descricao%>
                        </h4>

                        <div class="col-md-3">
                            <label for="coluna" class="form-label">
                                <%=grade.coluna%>
                            </label>
                            <select name="coluna" class="form-select" id="coluna">
                             <%colunas.forEach(coluna =>{%>
                                    <option value="<%=coluna.id%>">
                                        <%=coluna.coluna%>
                                    </option>
                            <%})%>     
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="linha" class="form-label">
                                <%=grade.linha%>
                            </label>
                            <select name="linha" class="form-select" id="linha">
                                <%linhas.forEach(linha =>{%>
                                    <option value="<%=linha.id%>">
                                        <%=linha.linha%>
                                    </option>
                                    <%})%>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="adicao" class="form-label">Status</label>
                            <select class="form-select" name="status">
                                <option value="true">Disponivel</option>
                                <option value="false">Indisponivel</option>
                            </select>
                        </div>
                        <%}else{%>
                            <select name="" id="" disabled></select>
                            <select name="" id="" disabled></select>

                            <%}%>
                            
                        <div class="col-md-3">
                            <%if(prod !=0){%>
                                <label for="adicao" class="form-label">Quantidade a Adicionar</label>
                                <input type="number" class="form-control" name="adicao" id="adicao" autocomplete="off"
                                    required>
                                <%}else{%>
                                    <label for="adicao" class="form-label"></label>
                                    <input type="number" class="form-control" id="adicao"
                                        autocomplete="off" disabled>
                                    <%}%>
                                        <div class="valid-feedback">
                                            Tudo ok!
                                        </div>
                                        <div class="invalid-feedback">
                                            Esse campo é obrigatório
                                        </div>
                        </div>

                        <hr>
                        <div class="col-md-3">
                            <label for="estoqueAnterior" class="form-label">Estoque total</label>
                            <input type="number" class="form-control" id="estoqueAnterior"
                                autocomplete="off" disabled value="<%=prod.totEstoque%>">
                            <div class="valid-feedback">
                                Tudo ok!
                            </div>
                            <div class="invalid-feedback">
                                Esse campo é obrigatório
                            </div>
                        </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer">
                        <button class="btn btn-primary form-control" id="buttom">Cadastrar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>
        <script src="/js/selecionar.js"></script>
            