<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>
                    <div class="card">
                        <div class="card-header">
                            <h1>Grades Produtos</h1>
                            <hr>
                            <select name="produtoId" id="produto" class="form-select" onchange="selecionar2()" required>
                                <option value="0"></option>
                                <%if(prod==0){%>
                                    <%produtos.forEach(produto=>{%>
                                        <option value="<%=produto.id%>">
                                            <%=produto.nome%>
                                        </option>
                                    <%})%>
                                <%}else{%>
                                    <%produtos.forEach(produto=>{%>
                                        <%if(produto.id==prod.id){%>
                                            <option value="<%=produto.id%>" selected>
                                                <%=produto.nome%>
                                            </option>
                                        <%}else{%>
                                            <option value="<%=produto.id%>">
                                                <%=produto.nome%>
                                            </option>
                                        <%}%>
                                    <%})%>
                                <%}%>
                            </select>
                        </div>
                        <div class="card-body">
                            <h4><%=(grade !=0)?grade.descricao:''%></h4>
                            <div class="table-responsive">
                                <table class="table text-center my-2" id="table">
                                    <%if(grade !=0){%>
                                        <thead class="bg-primary text-white">
                                            <th>Código</th>
                                            <th><%=(grade !=0)?grade.coluna:'Coluna'%></th>
                                            <th><%=(grade !=0)?grade.linha:"Linha"%></th>
                                            <th>Status</th>
                                        </thead>
                                    <%}%>
                                    <%if(estoques !=0){%>
                                        <%estoques.forEach(estoque=>{%>
                                            <tr>
                                                <td><%=estoque.id%></td>
                                                <%var coluna = colunas.find(col => col.id == estoque.refcoluna)%>
                                                <td><%=coluna.coluna%></td>
                                                <%var linha = linhas.find(lin => lin.id == estoque.reflinha)%>
                                                <td><%=linha.linha %></td>
                                                <td>
                                                    <select data-estoque="<%=estoque.id%>"
                                                        onchange="aleterarStatus(this.dataset.estoque)"
                                                        class="list-group-item list-group-item-action form-select">
                                                        <%if(estoque.status==true){%>
                                                        <option selected value="<%=estoque.status%>">Disponivel</option>
                                                        <option value="<%=estoque.status%>">Indisponivel</option>
                                                        <%}else{%>
                                                            <option value="<%=estoque.status%>">Disponivel</option>
                                                            <option selected value="<%=estoque.status%>">Indisponivel</option>
                                                        <%}%>
                                                    </select>
                                                </td>
                                            </tr>
                                        <%})%>
                                    <%}%>
                                </table>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary form-control"
                            onclick="atualizarEstoque()">Salvar</button>
                        </div>
                    </div>
            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>
            <script src="/js/selecionar.js"></script>
            <script>
                var estoquesId = []
                function aleterarStatus(estoqueId) {
                    var idx = estoquesId.indexOf(estoqueId)
                    if (idx > -1) {
                        estoquesId.splice(idx, 1)
                    } else {
                        estoquesId.push(estoqueId)
                    }
                }
                function atualizarEstoque() {
                    var conf = confirm("Deseja realmente realizar alterações?")
                    if (conf == true) {
                        if (estoquesId.length > 0) {
                            axios.post("/estoque/editar", { estoquesId: estoquesId }).then(resp => {
                                if (resp.data.erro == undefined) {
                                    console.log(resp.data.resp)
                                    alert(resp.data.resp)
                                    window.location.reload()
                                } else {
                                    alert(resp.data.erro)
                                }
                            })
                        } else {
                            alert("Nenhuma alteração realizada")
                            window.location.reload()
                        }
                    } else {
                        window.location.reload()
                    }
                }
            </script>

<script src="/js/sub.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>
<script>$(document).ready(function() {
    $('#table').DataTable({
        "paging":false,
        "info":false,
        "language": {"lengthMenu":"Mostrar _MENU_ Linhas"}
    });
} );</script>