<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>
                    <div class="card">
                        <div class="card-header">
                            <h1>Grades Produtos</h1>
                            <hr>
                            <select name="produtoId" id="produto" class="form-select" onchange="selecionar2()" required>
                                <option value="0"></option>
                                <%if(prod==0){%>
                                    <%produtos.forEach(produto=>{%>
                                        <option value="<%=produto.id%>">
                                            <%=produto.nome%>
                                        </option>
                                        <%})%>
                                            <%}else{%>
                                                <%produtos.forEach(produto=>{%>
                                                    <%if(produto.id==prod.id){%>
                                                        <option value="<%=produto.id%>" selected>
                                                            <%=produto.nome%>
                                                        </option>
                                                        <%}else{%>
                                                            <option value="<%=produto.id%>">
                                                                <%=produto.nome%>
                                                            </option>
                                                            <%}%>
                                                                <%})%>
                                                                    <%}%>
                            </select>
                        </div>
                        <div class="card-body">
                            <%if(grade !=0){%>
                                <h4>
                                    <%= grade.descricao%>
                                </h4>

                                <ul class="list-group list-group-horizontal">
                                    <button type="button"
                                        class="list-group-item list-group-item-action text-center active"
                                        aria-current="true">
                                        Código
                                        <button type="button"
                                            class="list-group-item  text-center list-group-item-action active"
                                            aria-current="true">
                                            <%if(grade !=0){%>
                                                <%=grade.coluna%>
                                                    <%}else{%>
                                                        Coluna
                                                        <%}%>
                                                            <button type="button"
                                                                class="list-group-item text-center list-group-item-action active"
                                                                aria-current="true">
                                                                <%if(grade !=0){%>
                                                                    <%=grade.linha%>
                                                                        <%}else{%>
                                                                            Linha
                                                                            <%}%>
                                                                                <button type="button"
                                                                                    class="list-group-item text-center list-group-item-action active"
                                                                                    aria-current="true">
                                                                                    Status

                                </ul>
                                <%}%>

                                    <%if(estoques !=0){%>
                                        <%estoques.forEach(estoque=>{%>
                                            <ul class="list-group list-group-horizontal text-center">
                                                <button type="button" class="list-group-item list-group-item-action">
                                                    <%=estoque.id %>
                                                </button>
                                                <%colunas.forEach(coluna=>{%>
                                                    <%if(coluna.id==estoque.refcoluna){%>
                                                        <button type="button"
                                                            class="list-group-item list-group-item-action">
                                                            <%=coluna.coluna %>
                                                        </button>
                                                        <%}%>
                                                            <%})%>
                                                                <%linhas.forEach(linha=>{%>
                                                                    <%if(linha.id==estoque.reflinha){%>
                                                                        <button type="button"
                                                                            class="list-group-item list-group-item-action">
                                                                            <%=linha.linha %>
                                                                        </button>
                                                                        <%}%>
                                                                            <%})%>
                                                                                <select data-estoque="<%=estoque.id%>"
                                                                                    onchange="aleterarStatus(this.dataset.estoque)"
                                                                                    class="list-group-item list-group-item-action form-select">
                                                                                    <%if(estoque.status==true){%>
                                                                                        <option
                                                                                            value="<%=estoque.status%>"
                                                                                            selected>Disponivel</option>
                                                                                        <option
                                                                                            value="<%=estoque.status%>">
                                                                                            Indisponivel</option>
                                                                                        <%}else{%>
                                                                                            <option
                                                                                                value="<%=estoque.status%>"
                                                                                                selected>Indisponivel
                                                                                            </option>
                                                                                            <option
                                                                                                value="<%=estoque.status%>">
                                                                                                Disponivel</option>
                                                                                            <%}%>
                                                                                </select>

                                            </ul>
                                            <%})%>
                                                <%}%>
                                                    <hr>
                                                    <button type="button" class="btn btn-primary form-control"
                                                        onclick="atualizarEstoque()">Salvar</button>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>
            <script src="/js/selecionar.js"></script>
            <script>
                var estoquesId = []
                function aleterarStatus(estoqueId) {
                    var idx = estoquesId.indexOf(estoqueId)
                    if (idx > -1) {
                        estoquesId.splice(idx, 1)
                    } else {
                        estoquesId.push(estoqueId)
                    }
                }
                function atualizarEstoque() {
                    var conf = confirm("Deseja realmente realizar alterações?")
                    if (conf == true) {
                        if (estoquesId.length > 0) {
                            axios.post("/estoque/editar", { estoquesId: estoquesId }).then(resp => {
                                if (resp.data.erro == undefined) {
                                    console.log(resp.data.resp)
                                    alert(resp.data.resp)
                                    window.location.reload()
                                } else {
                                    alert(resp.data.erro)
                                }
                            })
                        } else {
                            alert("Nenhuma alteração realizada")
                            window.location.reload()
                        }
                    } else {
                        window.location.reload()
                    }
                }
            </script>