<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>
                    <div class="card">

                        <div class="card-header">
                            <h1>Edição de Produto</h1>
                            <p>Edite aqui seus produtos!</p>
                        </div>
                        <div class="card-body">

                            <form action="/produto/editar" method="POST" class="row g-3 needs-validation"
                                onsubmit="sub(event,this)" novalidate id="form1">

                                <input type="hidden" name="produtoId" value="<%=produto.id%>">

                                <label for="titulo" class="form-label">Nome</label>
                                <input type="text" class="form-control" name="nome" id="titulo"
                                    placeholder="Informe aqui a descrição de sua grade" autocomplete="off" required
                                    value="<%=produto.nome%>">
                                <div class="valid-feedback">
                                    Tudo ok!
                                </div>
                                <div class="invalid-feedback">
                                    Esse campo é obrigatório
                                </div>

                                <label for="descricao" class="form-label">Descrição</label>
                                <input type="text" class="form-control" name="descricao" id="descricao"
                                    placeholder="Informe aqui a descrição de sua grade" autocomplete="off"
                                    value="<%=produto.descricao%>">
                                <div class="valid-feedback">
                                    Tudo ok!
                                </div>

                                <div class="col-md-4">
                                    <label for="validationCustom04" class="form-label">Status</label>
                                    <select class="form-select" name="status" id="validationCustom04" required>
                                        <%if(produto.status==true){%>
                                            <option value="true" selected>Ativo</option>
                                            <option value="false">Desativado</option>
                                            <%}else{%>
                                                <option value="true">Ativo</option>
                                                <option value="false" selected>Desativado</option>
                                                <%}%>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione!
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="validationCustom04" class="form-label">Categoria</label>
                                    <select class="form-select" name="categoriaId" id="validationCustom04" required>
                                        <%categorias.forEach(categoria=>{%>
                                            <%if(categoria.id==produto.categoriaId){%>
                                                <option value="<%=categoria.id%>" selected>
                                                    <%=categoria.titulo%>
                                                </option>
                                                <%}else{%>
                                                    <option value="<%=categoria.id%>">
                                                        <%=categoria.titulo%>
                                                    </option>
                                                    <%}%>
                                                        <%})%>
                                    </select>

                                </div>

                                <div class="col-md-4">
                                    <label for="validationCustom04" class="form-label">Grades</label>
                                    <select class="form-select" name="gradeId" <%if(produto.gradeId != 0){%>disabled<%}%> id="validationCustom04">
                                        <option value="0"></option>
                                        <%grades.forEach(grade=>{%>
                                            <%if(grade.id==produto.gradeId){%>
                                                <option value="<%=grade.id%>" selected>
                                                    <%=grade.descricao%>
                                                </option>
                                                <%}else{%>
                                                    <option value="<%=grade.id%>">
                                                        <%=grade.descricao%>
                                                    </option>
                                                    <%}%>
                                                        <%})%>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione!
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="marcaId" class="form-label">Marca</label>
                                    <select onchange="marcas(this.value)" class="form-select" name="marcaId"
                                        id="marcaId">
                                        <%if(produto.marcaId==0 || produto.marcaId==undefined || produto.marcaId==''
                                            ){%>
                                            <option value="0"></option>
                                            <%}%>
                                                <%marcas.forEach(marca=>{%>
                                                    <%if(marca.id==produto.marcaId){%>
                                                        <option value="<%=marca.id%>" selected>
                                                            <%=marca.marca%>
                                                        </option>
                                                        <%}else{%>
                                                            <option value="<%=marca.id%>">
                                                                <%=marca.marca%>
                                                            </option>
                                                            <%}%>
                                                                <%})%>
                                                                    <option value="A">Cadastrar Nova Marca</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label for="materialId" class="form-label">Material</label>
                                    <select onchange="materiais(this.value)" class="form-select" name="materialId"
                                        id="materialId">
                                        <%if(produto.materialId==0 || produto.materialId==undefined || produto.materialId==''
                                            ){%>
                                            <option value="0"></option>
                                            <%}%>
                                        <%materiais.forEach(material=>{%>
                                            <%if(material.id==produto.materialId){%>
                                                <option value="<%=material.id%>" selected>
                                                    <%=material.material%>
                                                </option>
                                                <%}else{%>
                                                    <option value="<%=material.id%>">
                                                        <%=material.material%>
                                                    </option>
                                                    <%}%>
                                            <%})%>
                                                <option value="A">Cadastrar novo Material</option>
                                    </select>
                                </div>


                                <div class="modal fade" id="modalMarca" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalMarcaLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalMarcaLabel">Cadastro de Marca</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="marca" class="form-label">Nome da Marca</label>
                                                <input type="text" class="form-control" name="nomeMarca" id="nomeMarca"
                                                    placeholder="Informe aqui nome da marca" autocomplete="off">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    id="modalFechar">Fechar</button>
                                                <button type="button" class="btn btn-primary"
                                                    onclick="salvarMarca()">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="modalMaterial" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalMaterialLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalMaterialLabel">Cadastro de Material</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="nomeMaterial" class="form-label">Nome da Material</label>
                                            <input type="text" class="form-control" name="nomeMaterial" id="nomeMaterial"
                                                placeholder="Informe aqui nome da marca" autocomplete="off">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="modalFechar">Fechar</button>
                                            <button type="button" class="btn btn-primary"
                                                onclick="salvarMaterial()">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <hr>

                                <div class="col-md-3">
                                    <label for="Preco_custo" class="form-label">Preço de Custo</label>
                                    <%if(preco.produtoId==produto.id){%>
                                        <input type="text" class="form-control" name="custo" id="preco_custo"
                                             onkeypress="$(this).mask('#.##0,00', {reverse: true});"autocomplete="off" value="<%=preco.custo%>">
                                        <%}%>
                                            <div class="valid-feedback">
                                                Tudo ok!
                                            </div>
                                            <div class="invalid-feedback">
                                                Esse campo é obrigatório
                                            </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="Preco_venda" class="form-label">Preço de venda</label>
                                    <%if(preco.produtoId==produto.id){%>
                                        <input type="text" class="form-control" name="venda" id="preco_venda"
                                             onkeypress="$(this).mask('#.##0,00', {reverse: true});"autocomplete="off" value="<%=preco.venda%>">
                                        <%}%>
                                            <div class="valid-feedback">
                                                Tudo ok!
                                            </div>
                                            <div class="invalid-feedback">
                                                Esse campo é obrigatório
                                            </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="Preco_desc" class="form-label">Preço de Desconto</label>
                                    <%if(preco.produtoId==produto.id){%>
                                        <input type="text" class="form-control" name="desconto" id="preco_desc"
                                             onkeypress="$(this).mask('#.##0,00', {reverse: true});"autocomplete="off"
                                            value="<%=preco.desconto%>">
                                        <%}%>
                                            <div class="valid-feedback">
                                                Tudo ok!
                                            </div>
                                            <div class="invalid-feedback">
                                                Esse campo é obrigatório
                                            </div>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Adicionar mais imagens do produto</label>
                                    <input class="form-control" type="file" name="img" id="formFile" multiple
                                        onchange="readAndShowFiles()">
                                    <span id="list"></span>
                                    <input type="hidden" name="count" id="count">
                                </div>
                                <hr>
                                <p>Selecione as imagens que serão deletadas</p>
                                <div id="col" class="col">
                                    <%if(imagens !=undefined){%>
                                        <%count=1%>
                                            <%imagens.forEach(imagem=>{%>
                                                <input type="checkbox" name="img<%=count%>" value="<%=imagem.id%>"
                                                    id="i<%=imagem.id%>" />
                                                <label for="i<%=imagem.id%>" class="labelimg"><img
                                                        src="<%=imagem.imagem%>" class="imgg"></label>
                                                <%count ++%>
                                                    <%})%>
                                                        <input type="hidden" id="hid" value="0" id="hid">
                                                        <%}%>
                                </div>

                                <div class="position-relative">
                                    <div class="card-footer">
                                        <button class="btn btn-primary form-control" id="buttom">Atualizar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
            <%- include('../../partials/footer.ejs')%>
                <script src="/js/marca.js"></script>
                <script src="/js/sub.js"></script>
                <script>
                    function readAndShowFiles() {
                        var files = document.getElementById("formFile").files;
                        var x = 1
                        for (var i = 0; i < files.length; i++) {

                            // Closure to capture the file information.
                            (file => {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    // Render thumbnail.
                                    var hidden = document.createElement('input');
                                    hidden.type = "hidden"
                                    hidden.name = `a${x}`
                                    hidden.value = e.target.result
                                    document.getElementById('list').insertBefore(hidden, null);
                                    document.getElementById('count').value = x
                                    // console.log(e.target.result)
                                    // document.getElementById('x').value = e.target.result
                                    x++
                                };
                                // Read in the image file as a data URL.
                                reader.readAsDataURL(file);
                            })(files[i]);
                        }
                    }
                </script>