<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <br>
        <div class="container">

            <div class="card">

                <div class="card-header">
                    <h1>Cadastro de Produto</h1>
                    <p>Cadastre aqui seus produtos!</p>
                </div>
                <div class="card-body">

                    <form action="/produto/novo" method="POST" class="row g-3 needs-validation"
                        onsubmit="sub(event,this)" novalidate>

                        <label for="titulo" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" id="titulo"
                            placeholder="Informe aqui a descrição de sua grade" autocomplete="off" required>
                        <div class="valid-feedback">
                            Tudo ok!
                        </div>
                        <div class="invalid-feedback">
                            Esse campo é obrigatório
                        </div>

                        <label for="descricao" class="form-label">Descrição</label>
                        <input type="text" class="form-control" name="descricao" id="descricao"
                            placeholder="Informe aqui a descrição de sua grade" autocomplete="off">
                        <div class="valid-feedback">
                            Tudo ok!
                        </div>

                        <div class="col-md-3">
                            <label for="validationCustom04" class="form-label">Status</label>
                            <select class="form-select" name="status" id="validationCustom04" required>
                                <option value="true">Ativo</option>
                                <option value="false">Desativado</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="validationCustom04" class="form-label">Categoria</label>
                                <select class="form-select" name="categoriaId" id="validationCustom04">
                                <option value=""></option>
                                <%categorias.forEach(categoria =>{%>
                                <option value="<%=categoria.id%>"><%=categoria.titulo%></option>
                                <%})%>
                            </select>
                            
                        </div>

                        <div class="col-md-3">
                            <label for="validationCustom04" class="form-label">Grades</label>
                            <select class="form-select" name="gradeId" id="validationCustom04">
                                <option value=""></option>
                                <%grades.forEach(grade =>{%>
                                <option value="<%=grade.id%>"><%=grade.descricao%></option>
                                <%})%>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>
                        
                        <div class="card-footer">
                            <button class="btn btn-primary" id="buttom">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>