<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
    <div class="container-fluid">
        <div class="row">
            <%- include('../../partials/navegador.ejs')%>
        <div class="card">
            <div class="card-header">
                <h1>Listagem de categorias</h1>
                <p>Vizualize suas categorias e organize a ordem que irá aparecer para o cliente</p>
                <a href="/admin/categoria/novo" class="btn btn-primary">Adicionar nova categoria</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-center" id="table">
                        <thead class="bg-primary text-white">
                            <th>Código</th>
                            <th>Titulo</th>
                            <th>Destaque</th>
                            <th>Status</th>
                            <th>*</th>
                        </thead>
                        <%categorias.forEach(categoria=>{%>
                            <tr>
                                <td><%=categoria.id %></td>
                                <td><%=categoria.titulo%></td>
                                <td><%=(categoria.destaque == true)?'Sim':'Não'%></td>
                                <td><%=(categoria.status == true)?'Ativo':'Desativado'%></td>
                                <td><a href="/admin/categoria/editar/<%=categoria.id%>" class="btn btn-outline-warning">Editar</a></td>
                            </tr>
                        <%})%>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>
            <script src="/js/jquery.dataTables.min.js"></script>
            <script src="/js/dataTables.bootstrap5.min.js"></script>
            <script>$(document).ready(function() {
                $('#table').DataTable({
                    "info":false,
                    "language": {"lengthMenu":"Mostrar _MENU_ Linhas"}
                });
            } );</script>