<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>

                    <div class="card my-3">
                        <div class="card-header">
                            <h2>Gerenciamento de venda</h2>
                            <p class="text-muted">Venda nº</p>
                        </div>
                        <div class="card-body">
                            <div class="accordion accordion-flush" id="accordionOne">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            Informações do Destinatario
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionOne">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <!-- foto cliente -->
                                                <div class="col-xl-2 text-center">
                                                    <div class="personal-image">
                                                        <label class="label">
                                                            <figure class="personal-figure">
                                                                <img src="<%=cliente.foto%>" class="personal-avatar"
                                                                    id="fotoAtual" alt="avatar">
                                                            </figure>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4">
                                                    <div class="input-group">
                                                        <span class="input-group-text bg-info bg-opacity-75 text-white px-4" id="basic-addon1">ID:
                                                            <%=cliente.id%>
                                                        </span>
                                                        <input type="text" class="form-control bg-light" placeholder="Username"
                                                            value="<%=cliente.nome%>" disabled aria-label="Username"
                                                            aria-describedby="basic-addon1">
                                                    </div>
                                                    <div class="input-group my-2">
                                                        <span class="input-group-text bg-info bg-opacity-75 text-white px-3"
                                                            id="basic-addon1">E-mail</span>
                                                        <input type="text" class="form-control bg-light" placeholder="Username"
                                                            value="<%=cliente.email%>" disabled aria-label="Username"
                                                            aria-describedby="basic-addon1">
                                                    </div>
                                                    <div class="input-group my-2">
                                                        <span class="input-group-text bg-info bg-opacity-75 text-white"
                                                            id="basic-addon1">Número</span>
                                                        <input type="text" class="form-control bg-light" placeholder="Username"
                                                            value="<%=cliente.numero%>" disabled aria-label="Username"
                                                            aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="col-xl-5 ms-md-3">
                                                    <div class="row mt-3">
                                                    <%if(cliente.isWhats){%>
                                                        <div class="col-3">
                                                            <p>Whatsapp</p>
                                                        <a href="https://api.whatsapp.com/send?phone=+55<%=cliente.numero.replace("(","").replace(")","")%>&text=Oi!"
                                                            target="_blank">
                                                            <img src="/img/whats.svg">
                                                        </a>
                                                        </div>
                                                    <%}%>
                                                    <div class="col-3">
                                                        <p>E-mail</p>

                                                    <a href="mailto:poudeyvis007@gmail.com?Subject=Estou%20com%20dúvidas&body=Oi&"
                                                        target="_blank">
                                                        <img src="/img/o-email.png" width="50" height="50" alt="">
                                                    </a>
                                                    </div>
                                                    <div class="col-3">
                                                        <p>Configuração</p>

                                                    <a href="#">
                                                        <img src="/img/engrenagem.png" width="50" height="50" alt="">
                                                    </a>
                                                    </div>
                                                    <div class="col-3">
                                                        <p>Historico</p>

                                                    <a href="#">
                                                        <img src="/img/carrinho.png" width="50" height="50" alt="">
                                                    </a>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                                aria-expanded="false" aria-controls="flush-collapseTwo">
                                                Informações do carrinho
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <div class="table-responsive my-3">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                    <th>#</th>
                                                                    <th class="text-nowrap">Cod.Produto</th>
                                                                    <th class="text-nowrap">Descrição</th>
                                                                    <th class="text-nowrap">Valor Unitario</th>
                                                                    <th class="text-nowrap text-center">Quantidade</th>
                                                                    <th class="text-nowrap">Valor Desconto</th>
                                                                    <th class="text-nowrap">Valor Acrescimo</th>
                                                                    <th class="text-nowrap">Valor Total</th>
                                                                    </tr>
                                                                </thead>
                                                                
                                                                <tbody>
                                                                    <%codItens.forEach(codIten=>{%>
                                                                        <%var prod=produto.find(p=> p.id == codIten.produtoId)%>
                                                                            <tr>
                                                                            <th><input type="radio" value="<%=codIten.id%>"
                                                                                onchange="editCodItem(this.value)"
                                                                                name="vendaSelecionada">
                                                                            </th>
                                                                            <td>
                                                                            <%=prod.id%>
                                                                            </td>
                                                                            <td>
                                                                                <%=prod.nome%>
                                                                            </td>
                                                                            <td>
                                                                                <%=prod.precoUnit%>
                                                                            </td>
                                                                            <td class="text-center">
                                                                                <%=prod.quantidade%>
                                                                            </td>
                                                                            <td>
                                                                                <%=prod.desconto%>
                                                                            </td>
                                                                            <td>
                                                                                R$00,00
                                                                            </td>
                                                                            <td>
                                                                                <%=prod.valotTotalItem%>
                                                                            </td>
                                                                        </tr>
                                                                    <%})%>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-2 border-start">
                                                        <button class="btn form-control disabled btn-warning my-3" data-bs-toggle="modal" data-bs-target="#" id="btnEditarCodItem" onclick="verificaPagamento()">Editar</button>
                                                        <br>
                                                        <button class="btn form-control disabled btn-danger" id="btnExcluirCodItem">Excluir</button>
                                                    </div>
                                                </div>
                                              

                                                <div class="modal fade" id="modalEditarCodItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEditarCodItemLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="modalEditarCodItemTitulo">Modal title</h5>
                                                          <input type="hidden" id="codItemId">
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-center col-3">
                                                                <label class="form-label" for="quantidadeModal">Quantidade</label>
                                                                <input type="number" class="form-control" onchange="calculaTotal()" id="quantidadeModal">
                                                            </div>
                                                            <hr>
                                                          <div class="row">
                                                              <div class="col-sm-4 my-3 my-sm-0 mt-sm-2">
                                                                <label class="form-label" for="precoUnitModal">Preço Unitario</label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text" id="basic-addon1">R$</span>
                                                                    <input type="text" class="form-control" aria-describedby="basic-addon1" data-precounit="0" onchange="this.dataset.precounit = this.value;calculaTotal()" value="R$00,00" id="precoUnitModal">
                                                                </div>         
                                                            </div>         

                                                              <div class="col-sm-4 my-3 my-sm-0 mt-sm-2">
                                                                <label class="form-label" for="precoDescModal">Desconto</label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text" id="basic-addon2">R$</span>
                                                                    <input type="text" class="form-control" data-precodesc = "0" aria-describedby="basic-addon2" onchange="this.dataset.precodesc = this.value;calculaTotal()" value="R$00,00" id="precoDescModal">
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4 my-3 my-sm-0 mt-sm-2">
                                                                <label class="form-label" for="precoAcrescimo">Acrescimo</label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text" id="basic-addon3">R$</span>
                                                                    <input type="text" onfocus="formEdit(this.id)" class="form-control" aria-describedby="basic-addon3" data-precoacre = "0" onchange="this.dataset.precoacre = this.value;calculaTotal()" value="R$00,00" id="precoAcrescimo">
                                                                </div>
                                                            </div>

                                                            <div class="col-12 mt-3 border-top">
                                                                <label class="form-label mt-2" for="precoTotal">Preço Total</label>
                                                                <div class="input-group mb-3">
                                                                    <span class="input-group-text" id="basic-addon4">R$</span>
                                                                    <input type="text" class="form-control col-4" aria-describedby="basic-addon4" disabled data-precoTot = "0" value="R$00,00" id="precoTotal">
                                                                </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                          <button type="button" class="btn btn-primary" onclick="salvar()">Salvar</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>


                                                <div class="card mt-4">
                                                    <div class="card-header text-white bg-info bg-opacity-50">
                                                        <h5>Totais</h5>
                                                    </div>
                                                    <div class="card-body border-info">
                                                        <div class="row">
                                                            <div class="col-lg-10">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <th>#</th>
                                                                            <th class="text-nowrap text-center">Produtos</th>
                                                                            <th class="text-nowrap text-center">Quantidade</th>
                                                                            <th class="text-nowrap">Valor Desconto</th>
                                                                            <th class="text-nowrap">Valor Acrescimo</th>
                                                                            <th class="text-nowrap">Valor Total</th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <th>#</th>
                                                                            <td class="text-nowrap text-center">
                                                                                <%=valores.totaisProdutos%>
                                                                            </td>
                                                                            <td class="text-nowrap text-center">
                                                                                <%=valores.quantidadeTotal%>
                                                                            </td>
                                                                            <td class="text-nowrap">
                                                                                <%=valores.descontoTotal%>
                                                                            </td>
                                                                            <td class="text-nowrap">
                                                                                <%=valores.descontoTotal%>
                                                                            </td>
                                                                            <td class="text-nowrap">
                                                                                <%=valores.valorTotal%>
                                                                            </td>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="col-2 border-start">
                                                                    <button class="btn form-control disabled btn-warning my-4" id="btnEditarCodItem">Editar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                                aria-expanded="false" aria-controls="flush-collapseThree">
                                                Informações da Entrega
                                            </button>
                                        </h2>
                                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingThree"
                                            data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                
                                                <div class="row">
                                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                                        <label for="cep" class="form-label">CEP</label>
                                                        <input class="form-control mascCEP" disabled size="10" maxlength="9" type="text"
                                                            id="cep" name="cep" placeholder="Informe o CEP" autocomplete="off"
                                                            onblur="pesquisacep(this.value);" value="<%=dadosEntregas.cep%>" required>
                                                    </div>
                    
                                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                                        <label for="numero" class="form-label">Numero</label>
                                                        <input class="form-control" placeholder="Ex:6259" disabled type="number" id="numero"
                                                            name="numero" autocomplete="off" value="<%=dadosEntregas.numero%>" required>
                                                    </div>
                    
                                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                                        <label for="rua" class="form-label">Rua</label>
                                                        <input class="form-control" type="text" value="<%=dadosEntregas.rua%>" disabled
                                                            id="rua" name="rua" autocomplete="off" size="60" required>
                                                    </div>
                    
                                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                                        <label for="bairro" class="form-label">Bairro</label>
                                                        <input class="form-control" type="text" value="<%=dadosEntregas.bairro%>" disabled
                                                            id="bairro" name="bairro" size="40" autocomplete="off" required>
                                                    </div>
                    
                                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                                        <label for="cidade" class="form-label">Cidade</label>
                                                        <input class="form-control" size="40" value="<%=dadosEntregas.cidade%>" disabled
                                                            type="text" id="cidade" name="cidade" autocomplete="off" required>
                                                    </div>
                    
                                                    <div class="col-lg-4 mb-lg-2 col-md-6">
                                                        <label for="uf" class="form-label">UF</label>
                                                        <input class="form-control" size="2" value="<%=dadosEntregas.uf%>" disabled
                                                            type="text" id="uf" name="estado" autocomplete="off" required>
                                                    </div>
                                                    <input type="hidden" id="enderecoValidado" value="false">
                    
                                                    <div class="col-md-12">
                                                        <label for="complemento" class="form-label mt-2">Complemento</label>
                                                        <input class="form-control" size="2" value="<%=dadosEntregas.complemento%>" disabled
                                                            type="text" id="complemento" name="complemento" autocomplete="off" required>
                                                    </div>
                    
                    
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4 col-md-6">
                                                        <label for="complemento" class="form-label mt-2">Valor</label>
                                                        <input class="form-control" size="2" disabled value="<%=dadosEntregas.valor%>"
                                                            value="R$10,00" type="text" id="frete" name="frete" autocomplete="off" required>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6">
                                                        <label for="dataFrete" class="form-label mt-2">Data Entrega</label>
                                                        <input class="form-control" value="2021-09-01" disabled
                                                            value="<%=dadosEntregas.dataPrevista%>" type="date" id="dataFrete"
                                                            name="dataFrete" autocomplete="off" required>
                                                    </div>
                                                    <div class="col-lg-4 col-md-12">
                                                        <label for="complemento" class="form-label mt-2">Status</label>
                                                        <select name="" disabled class="form-select" id="">
                                                            <%statusEntrega.forEach(stEntrega=>{%>
                                                                <%if(dadosEntregas.status==stEntrega.statusId){%>
                                                                    <option value="dadosEntregas.status" selected>
                                                                        <%=stEntrega.status%>
                                                                    </option>
                                                                    <%}else{%>
                                                                        <option value="stEntrega.statusId">
                                                                            <%=stEntrega.status%>
                                                                        </option>
                                                                        <%}%>
                                                                            <%})%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <button class="btn btn-warning mt-3 form-control" id="btnEditarEntrega">Alterar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingFor">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFor"
                                                aria-expanded="false" aria-controls="flush-collapseFor">
                                                Informações do Pagamento
                                            </button>
                                        </h2>
                                        <div id="flush-collapseFor" class="accordion-collapse collapse"
                                            aria-labelledby="flush-headingFor"
                                            data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                
                                                <div class="card mt-3">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="row">
                                                                    <div class="col-lg-4 col-sm-6">
                                                                        <label for="forma" class="form-label">Forma de pagamento</label>
                                                                        <select name="" disabled class="form-select" id="">
                                                                            <%if(dadoVenda.opcaoDePagamento=="Pix"){%>
                                                                                <option value="1" selected>Pix</option>
                                                                                <option value="2">Mercado Pago</option>
                                                                                <option value="3">Pagar na Entrega</option>
                                                                                <%}else if(dadoVenda.opcaoDePagamento=="Mercado Pago" ){%>
                                                                                    <option value="1">Pix</option>
                                                                                    <option value="2" selected>Mercado Pago</option>
                                                                                    <option value="3">Pagar na Entrega</option>
                                                                                    <%}else if(dadoVenda.opcaoDePagamento=="Pagar na Entrega" ){%>
                                                                                        <option value="1">Pix</option>
                                                                                        <option value="2">Mercado Pago</option>
                                                                                        <option value="3" selected>Pagar na Entrega</option>
                                                                                        <%}%>
                                                                        </select>
                                                                    </div>
                                                                    <%if(dadosPagamentos !=undefined){%>
                                                                        <div class="col-lg-4 col-sm-6">
                                                                            <label for="forma" class="form-label">Ordem Pagamento</label>
                                                                            <input type="text" disabled class="form-control"
                                                                                value="<%=dadosPagamentos.ordeId%>">
                                                                        </div>
                                                                        <div class="col-lg-4 col-sm-6">
                                                                            <label for="status" class="form-label">Status Pagamento</label>
                                                                            <select name="" class="form-select" id="statusPag">
                                                                            <%const StatusPagamento = [{ id: 1, status: "Analise" }, { id: 2, status: "Aprovado" }, { id: 3, status: "Rejeitado" }, { id: 4, status: "Cancelado" }, { id: 5, status: "Pendente" }]%>
                                                                            <%StatusPagamento.forEach(statusPagamento =>{%>
                                                                                <%if(dadosPagamentos.statusId == statusPagamento.id){%>
                                                                                    <option selected value="<%=dadosPagamentos.statusId%>"><%=statusPagamento.status%></option>
                                                                                <%}else{%>
                                                                                    <option value="<%=statusPagamento.id%>"><%=statusPagamento.status%></option>
                                                                                <%}%>
                                                                            <%})%>
                                                                            </select>
                                                                        </div>
                                                                        <%}else{%>
                                                                            <h4>PAGAMENTO NÃO IDENTIFICADO</h4>
                                                                            <%}%>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2  border-start">
                                                                <button class="btn btn-warning form-control text-white mt-3">Alterar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <%if(dadosPagamentos !=undefined){%>
                                                            <%if(dadosPagamentos.comprovante != undefined){%>
                                                            <a download="Comprovante<%=dadosPagamentos.ordeId%>"
                                                                href="<%=dadosPagamentos.comprovante%>" class="btn btn-info form-control text-white"
                                                                id="forma">Arquivos Anexados</a>
                                                            <%}else{%>
                                                                <h5>Comprovante não anexado</h5>
                                                                <hr>
                                                                <label for="form-label">Anexar comprovante</label>
                                                                <input type="file" name="anexarComprovantePag" id="anexarComprovantePag" class="form-control">
                                                            <%}%>
                                                        <%}else{%>
                                                            <h5>PAGAMENTO NÃO IDENTIFICADO</h5>
                                                        <%}%>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script src="/js/pesquisaCepTransicao.js"></script>

            <script>
                function verificaPagamento(){
                    
                    var statusPag = document.getElementById("statusPag").value
                    console.log(statusPag)
                    if (statusPag == 2) {
                        if (confirm("Pagamento esta com status aprovado. Deseja realmente editar?")) {
                            var btn = document.getElementById("btnEditarCodItem")
                            btn.dataset.bsTarget = '#modalEditarCodItem'
                            btn.click()
                        }
                    } else {
                        var btn = document.getElementById("btnEditarCodItem")
                        btn.dataset.bsTarget = '#modalEditarCodItem'
                        btn.click()
                    }

                }

                function salvar(){
                        if(confirm("Deseja realmente alterar essas infomações?")){
                            var codItemId = document.getElementById("codItemId").value
                            var quantidadeModal = document.getElementById("quantidadeModal").value
                            var precoUnit = document.getElementById("precoUnitModal").dataset.precounit.toString().replace(".","").replace(",",".")
                            var precoDesc = document.getElementById("precoDescModal").dataset.precodesc.toString().replace(".","").replace(",",".")
                            var precoAcre = document.getElementById("precoAcrescimo").dataset.precoacre.toString().replace(".","").replace(",",".")

                            axios.post("/alterarCodItem",{codItemId:codItemId,quantidade:quantidadeModal,precoUnitario:precoUnit,desconto:precoDesc,acrescimo:precoAcre}).then(resp =>{
                                if (resp.data.erro == undefined) {
                                    alert(resp.data.resp)
                                } else {
                                    alert("Ocorreu um erro ao salvar \n",resp.data.erro)
                                }
                            })
                        }
                }


                function editCodItem(codProd){
                    document.getElementById('btnEditarCodItem').classList.remove("disabled")
                    document.getElementById('btnExcluirCodItem').classList.remove("disabled")
                    axios.post("/consultaCodItem",{codItenId:codProd}).then(resp =>{
                        if (resp.data.erro == undefined) {
                            var codItem = resp.data.codItem
                            var produto = resp.data.produto
                            document.getElementById("modalEditarCodItemTitulo").innerHTML =  produto.nome
                            document.getElementById("quantidadeModal").value = codItem.quantidade
                            var precoUnitModal = document.getElementById("precoUnitModal")
                            precoUnitModal.dataset.precounit = codItem.precoUnit
                            precoUnitModal.value = parseFloat(codItem.precoUnit).toLocaleString('pt-br',{ minimumFractionDigits: 2, maximumFractionDigits: 2 })

                            var precoDescModal = document.getElementById("precoDescModal")
                            precoDescModal.dataset.precodesc = 0
                            precoDescModal.value = parseFloat(0).toLocaleString('pt-br',{ minimumFractionDigits: 2, maximumFractionDigits: 2 })

                            var precoAcrescimo = document.getElementById("precoAcrescimo")
                            precoAcrescimo.dataset.precoacre = 0
                            precoAcrescimo.value = parseFloat(0).toLocaleString('pt-br',{ minimumFractionDigits: 2, maximumFractionDigits: 2 })


                            var precoTotal = document.getElementById("precoTotal")
                            precoTotal.dataset.precotot = codItem.precoTotalItem
                            console.log(codItem)
                            precoTotal.value = parseFloat(codItem.precoTotalItem).toLocaleString('pt-br',{ minimumFractionDigits: 2, maximumFractionDigits: 2 })

                            var codItemId = document.getElementById("codItemId").value = codItem.id

                        } else {
                            alert("Ocorreu um erro ao verificar o produto, gentileza entre em contato com o suporte")
                            console.log(resp.data.erro)
                        }
                    })
                }
            </script>
              <script>
                                                    
                function calculaTotal(){
                    var qtd = document.getElementById("quantidadeModal").value
                    var precoUnit = document.getElementById("precoUnitModal").dataset.precounit.toString().replace(".","").replace(",",".")
                    var precoDesc = document.getElementById("precoDescModal").dataset.precodesc.toString().replace(".","").replace(",",".")
                    var precoAcre = document.getElementById("precoAcrescimo").dataset.precoacre.toString().replace(".","").replace(",",".")

                    var precoTotal = document.getElementById("precoTotal")
                    var calc = ((parseFloat(precoUnit) * qtd) - parseFloat(precoDesc)) + parseFloat(precoAcre)
                    precoTotal.value = parseFloat(calc).toLocaleString('pt-br',{ minimumFractionDigits: 2, maximumFractionDigits: 2 })
                    precoTotal.dataset.precoTot = calc
                }
            </script>
            <!-- <script src="/js/carrinho.js"></script> -->
            <%- include('../../partials/footer.ejs')%>