<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>

                    <div class="card ">
                        <div class="card-header">
                            <h4>Informações do Destinatario</h4>
                            <hr>
                            <div class="row">
                                <div class="col-xl-2 text-center">
                                    <div class="personal-image">
                                        <label class="label">
                                            <figure class="personal-figure">
                                                <img src="<%=cliente.foto%>" class="personal-avatar" id="fotoAtual"
                                                    alt="avatar">
                                            </figure>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-group">
                                        <span class="input-group-text bg-info text-white" id="basic-addon1">ID:
                                            <%=cliente.id%>
                                        </span>
                                        <input type="text" class="form-control bg-light" placeholder="Username"
                                            value="<%=cliente.nome%>" disabled aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group my-2">
                                        <span class="input-group-text bg-info text-white"
                                            id="basic-addon1">E-mail</span>
                                        <input type="text" class="form-control bg-light" placeholder="Username"
                                            value="<%=cliente.email%>" disabled aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group my-2">
                                        <span class="input-group-text bg-info text-white"
                                            id="basic-addon1">Número</span>
                                        <input type="text" class="form-control bg-light" placeholder="Username"
                                            value="<%=cliente.numero%>" disabled aria-label="Username"
                                            aria-describedby="basic-addon1">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header text-white bg-dark bg-gradient">
                            <h4>Resumo da venda</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Descrição</th>
                                            <th>Valor Total</th>
                                            <th>Status</th>
                                            <th>Opção de Pagamento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%=dadoVenda.dadosId%>
                                            </td>
                                            <td class="text-nowrap">
                                                <%=dadoVenda.descricao%>
                                            </td>
                                            <td>
                                                <%=dadoVenda.unit_price%>
                                            </td>
                                            <td>
                                                <%=dadoVenda.statusColetado%>
                                            </td>
                                            <td>
                                                <%=dadoVenda.opcaoDePagamento%>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header text-white bg-dark bg-gradient">
                            <h4>Informações Carrinho</h4>
                        </div>
                        <div class="card-body">
                            <h5>Produtos</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th class="text-nowrap">Cod.Produto</th>
                                                    <th class="text-nowrap">Descrição</th>
                                                    <th class="text-nowrap">Valor Unitario</th>
                                                    <th class="text-nowrap text-center">Quantidade</th>
                                                    <th class="text-nowrap">Valor Desconto</th>
                                                    <th class="text-nowrap">Valor Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%codItens.forEach(codIten=>{%>
                                                    <%var prod=produto.find(p=> p.id == codIten.produtoId)%>
                                                        <tr>
                                                            <th><input type="radio" value="<%=codIten.id%>"
                                                                    onchange="editCodItem(this.value)"
                                                                    name="vendaSelecionada"></th>
                                                            <td>
                                                                <%=prod.id%>
                                                            </td>
                                                            <td>
                                                                <%=prod.nome%>
                                                            </td>
                                                            <td>
                                                                <%=prod.precoUnit%>
                                                            </td>
                                                            <td class="text-center">
                                                                <%=prod.quantidade%>
                                                            </td>
                                                            <td>
                                                                <%=prod.desconto%>
                                                            </td>
                                                            <td>
                                                                <%=prod.valotTotalItem%>
                                                            </td>
                                                        </tr>
                                                        <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-2 border-start">
                                    <button id="btnEditarCarrinho"
                                        class="btn btn-warning form-control text-white disabled mt-5"
                                        data-bs-toggle="modal" data-bs-target=""
                                        onclick="validaStatusPagamento();modalEdicao(this.value)">Editar</button>
                                    <button id="btnExcluirCarrinho"
                                        class="btn btn-danger form-control disabled text-white mt-3 ">Excluir</button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Produtos -->
                        <div class="modal fade" id="modalCodItem" tabindex="-1" aria-labelledby="modalCodItemLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalCodItemLabel">Produto</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mt-3">
                                            <label class="form-label text-center">
                                                <dt>Quantidade</dt>
                                            </label>
                                            <div class="col-12 my-3 text-center">
                                                <button class="btn btn-danger" data-index="" id="btnMenos"
                                                    onclick="diminuir()">-</button>
                                                <button class="btn btn-ligth" name="quantidade" value="1" id="btnValor">
                                                    1
                                                </button>
                                                <button class="btn btn-success" data-index="1" id="btnMais"
                                                    onclick="adicionar()">+</button>
                                            </div>
                                        </div>
                                        
                                        <hr>
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="desconto" class="form-label">Desconto</label>
                                                <input class="form-control" type="text" data-valordesc="0" value="R$00,00" id="vlDesconto"
                                                    name="desconto" autocomplete="off" required>
                                            </div>
                                            <div class="col-4">
                                                <label for="acrescimo" class="form-label">Acrescimo</label>
                                                <input class="form-control" type="text" data-valoracres="0" value="R$00,00" id="vlAcrescimo"
                                                    name="acrescimo" autocomplete="off" required>
                                            </div>
                                            <input type="hidden" value="0" id="valorUnit">
                                            <div class="col-4">
                                                <label for="vlTotal" class="form-label">Valor Total</label>
                                                <input class="form-control" type="text" value="R$00,00" id="vlTotal"
                                                    name="vlTotal" data-valor="" autocomplete="off" disabled required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <button type="button" class="btn btn-primary">Salvar Alterações</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim modal produtos -->
                        <div class="card-footer">
                            <h5>Totais</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <th>#</th>
                                                <th class="text-nowrap text-center">Produtos</th>
                                                <th class="text-nowrap text-center">Quantidade</th>
                                                <th class="text-nowrap">Valor Desconto</th>
                                                <th class="text-nowrap">Valor Total</th>
                                            </thead>
                                            <tbody>
                                                <th>#</th>
                                                <td class="text-nowrap text-center">
                                                    <%=valores.totaisProdutos%>
                                                </td>
                                                <td class="text-nowrap text-center">
                                                    <%=valores.quantidadeTotal%>
                                                </td>
                                                <td class="text-nowrap">
                                                    <%=valores.descontoTotal%>
                                                </td>
                                                <td class="text-nowrap">
                                                    <%=valores.valorTotal%>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-2 border-start">
                                    <button class="btn btn-warning form-control text-white mt-4 ">Alterar
                                        Valores</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-header text-white bg-dark bg-gradient">
                            <div class="row mt-2">
                                <div class="col-10">
                                    <h4>Informações da Entrega</h4>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <button class="btn btn-warning form-control text-white">Alterar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 mb-lg-2 col-md-6">
                                    <label for="cep" class="form-label">CEP</label>
                                    <input class="form-control mascCEP" disabled size="10" maxlength="9" type="text"
                                        id="cep" name="cep" placeholder="Informe o CEP" autocomplete="off"
                                        onblur="pesquisacep(this.value);" value="<%=dadosEntregas.cep%>" required>
                                </div>

                                <div class="col-lg-4 mb-lg-2 col-md-6">
                                    <label for="numero" class="form-label">Numero</label>
                                    <input class="form-control" placeholder="Ex:6259" disabled type="number" id="numero"
                                        name="numero" autocomplete="off" value="<%=dadosEntregas.numero%>" required>
                                </div>

                                <div class="col-lg-4 mb-lg-2 col-md-6">
                                    <label for="rua" class="form-label">Rua</label>
                                    <input class="form-control" type="text" value="<%=dadosEntregas.rua%>" disabled
                                        id="rua" name="rua" autocomplete="off" size="60" required>
                                </div>

                                <div class="col-lg-4 mb-lg-2 col-md-6">
                                    <label for="bairro" class="form-label">Bairro</label>
                                    <input class="form-control" type="text" value="<%=dadosEntregas.bairro%>" disabled
                                        id="bairro" name="bairro" size="40" autocomplete="off" required>
                                </div>

                                <div class="col-lg-4 mb-lg-2 col-md-6">
                                    <label for="cidade" class="form-label">Cidade</label>
                                    <input class="form-control" size="40" value="<%=dadosEntregas.cidade%>" disabled
                                        type="text" id="cidade" name="cidade" autocomplete="off" required>
                                </div>

                                <div class="col-lg-4 mb-lg-2 col-md-6">
                                    <label for="uf" class="form-label">UF</label>
                                    <input class="form-control" size="2" value="<%=dadosEntregas.uf%>" disabled
                                        type="text" id="uf" name="estado" autocomplete="off" required>
                                </div>
                                <input type="hidden" id="enderecoValidado" value="false">

                                <div class="col-md-12">
                                    <label for="complemento" class="form-label mt-2">Complemento</label>
                                    <input class="form-control" size="2" value="<%=dadosEntregas.complemento%>" disabled
                                        type="text" id="complemento" name="complemento" autocomplete="off" required>
                                </div>


                            </div>
                        </div>
                        <div class="card-footer">
                            <h5 class="mt-3">Frete</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <label for="complemento" class="form-label mt-2">Valor</label>
                                    <input class="form-control" size="2" disabled value="<%=dadosEntregas.valor%>"
                                        value="R$10,00" type="text" id="frete" name="frete" autocomplete="off" required>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <label for="dataFrete" class="form-label mt-2">Data Entrega</label>
                                    <input class="form-control" value="2021-09-01" disabled
                                        value="<%=dadosEntregas.dataPrevista%>" type="date" id="dataFrete"
                                        name="dataFrete" autocomplete="off" required>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <label for="complemento" class="form-label mt-2">Status</label>
                                    <select name="" disabled class="form-select" id="">
                                        <%statusEntrega.forEach(stEntrega=>{%>
                                            <%if(dadosEntregas.status==stEntrega.statusId){%>
                                                <option value="dadosEntregas.status" selected>
                                                    <%=stEntrega.status%>
                                                </option>
                                                <%}else{%>
                                                    <option value="stEntrega.statusId">
                                                        <%=stEntrega.status%>
                                                    </option>
                                                    <%}%>
                                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header bg-dark text-white bg-gradient">
                            <h4>Informações Pagamento</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <label for="forma" class="form-label">Forma de pagamento</label>
                                            <select name="" disabled class="form-select" id="">
                                                <%if(dadoVenda.opcaoDePagamento=="Pix"){%>
                                                    <option value="1" selected>Pix</option>
                                                    <option value="2">Mercado Pago</option>
                                                    <option value="3">Pagar na Entrega</option>
                                                    <%}else if(dadoVenda.opcaoDePagamento=="Mercado Pago" ){%>
                                                        <option value="1">Pix</option>
                                                        <option value="2" selected>Mercado Pago</option>
                                                        <option value="3">Pagar na Entrega</option>
                                                        <%}else if(dadoVenda.opcaoDePagamento=="Pagar na Entrega" ){%>
                                                            <option value="1">Pix</option>
                                                            <option value="2">Mercado Pago</option>
                                                            <option value="3" selected>Pagar na Entrega</option>
                                                            <%}%>
                                            </select>
                                        </div>
                                        <%if(dadosPagamentos !=undefined){%>
                                            <div class="col-lg-4 col-sm-6">
                                                <label for="forma" class="form-label">Ordem Pagamento</label>
                                                <input type="text" disabled class="form-control"
                                                    value="<%=dadosPagamentos.ordeId%>">
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <label for="status" class="form-label">Status Pagamento</label>
                                                <select name="" class="form-select" id="statusPag">
                                                <%const StatusPagamento = [{ id: 1, status: "Analise" }, { id: 2, status: "Aprovado" }, { id: 3, status: "Rejeitado" }, { id: 4, status: "Cancelado" }, { id: 5, status: "Pendente" }]%>
                                                <%StatusPagamento.forEach(statusPagamento =>{%>
                                                    <%if(dadosPagamentos.statusId == statusPagamento.id){%>
                                                        <option selected value="<%=dadosPagamentos.statusId%>"><%=statusPagamento.status%></option>
                                                    <%}else{%>
                                                        <option value="<%=statusPagamento.id%>"><%=statusPagamento.status%></option>
                                                    <%}%>
                                                <%})%>
                                                </select>
                                            </div>
                                            <%}else{%>
                                                <h4>PAGAMENTO NÃO IDENTIFICADO</h4>
                                                <%}%>
                                    </div>
                                </div>
                                <div class="col-md-2  border-start">
                                    <button class="btn btn-warning form-control text-white mt-3">Alterar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <%if(dadosPagamentos !=undefined){%>
                                <%if(dadosPagamentos.comprovante != undefined){%>
                                <a download="Comprovante<%=dadosPagamentos.ordeId%>"
                                    href="<%=dadosPagamentos.comprovante%>" class="btn btn-info form-control text-white"
                                    id="forma">Arquivos Anexados</a>
                                <%}else{%>
                                    <h5>Comprovante não anexado</h5>
                                    <hr>
                                    <label for="form-label">Anexar comprovante</label>
                                    <input type="file" name="anexarComprovantePag" id="anexarComprovantePag" class="form-control">
                                <%}%>
                            <%}else{%>
                                <h5>PAGAMENTO NÃO IDENTIFICADO</h5>
                            <%}%>
                        </div>
                    </div>
            </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/pesquisaCepTransicao.js"></script>
        <!-- <script src="/js/carrinho.js"></script> -->
        <script>
            function somarTotais() {
                var valor = ((parseFloat(vlTotal.dataset.valor) - parseFloat(valorUnit.value)) + parseFloat(vlAcrescimo.dataset.valoracres)) - parseFloat(vlDesconto.dataset.valordesc)

vlTotal.dataset.valor = valor
vlTotal.value = valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
            }

            function diminuir() {
                var btnvalor = document.getElementById("btnValor")
                var vlTotal = document.getElementById("vlTotal")
                var vlDesconto = document.getElementById("vlDesconto")
                var vlAcrescimo = document.getElementById("vlAcrescimo")
                var valorUnit = document.getElementById("valorUnit")

                if (btnValor.value > 1) {
                    var vlQuantidade = parseInt(btnvalor.value) - 1
                    btnvalor.value = vlQuantidade
                    btnvalor.innerHTML = vlQuantidade


                   
                }
            }
            function adicionar() {
                var btnvalor = document.getElementById("btnValor")
                var vlTotal = document.getElementById("vlTotal")
                var vlDesconto = document.getElementById("vlDesconto")
                var vlAcrescimo = document.getElementById("vlAcrescimo")
                var valorUnit = document.getElementById("valorUnit")
                if (btnValor.value >= 1) {

                    var vlQuantidade = parseInt(btnvalor.value) + 1
                    btnvalor.value = vlQuantidade
                    btnvalor.innerHTML = vlQuantidade


                    var valor = ((parseFloat(vlTotal.dataset.valor) + parseFloat(valorUnit.value)) + parseFloat(vlAcrescimo.dataset.valoracres)) - parseFloat(vlDesconto.dataset.valordesc)

                    vlTotal.dataset.valor = valor
                    vlTotal.value = valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })
                }
            }
        </script>
        <script>
            function validaStatusPagamento(){
                var statusPag = document.getElementById("statusPag").value
                if (statusPag == 1 || statusPag == 2) {
                    alert("Pagamento em análise ou aprovado. Algumas informações não poderão ser editadas!")
                    document.getElementById("btnEditarCarrinho").dataset.bsTarget = ''
                } else {
                    document.getElementById("btnEditarCarrinho").dataset.bsTarget = '#modalCodItem'
                }
            }


            function editCodItem(codItenId) {
                document.getElementById("btnEditarCarrinho").classList.remove("disabled")
                document.getElementById("btnExcluirCarrinho").classList.remove("disabled")
                document.getElementById("btnExcluirCarrinho").value = codItenId
                document.getElementById("btnEditarCarrinho").value = codItenId
            }
            function modalEdicao(codItenId) {
                if (codItenId != undefined) {
                    axios.post("/consultaCodItem", { codItenId: codItenId }).then(resp => {
                        if (resp.data.erro == undefined) {
                            var dados = resp.data
                            var modalTitulo = document.getElementById("modalCodItemLabel")      
                            modalTitulo.innerHTML = dados.produto.nome

                            var btnValor = document.getElementById("btnValor")
                            btnValor.value = dados.codItem.quantidade
                            btnValor.innerHTML = btnValor.value

                            var vlTotal = document.getElementById("vlTotal")
                            vlTotal.value = parseFloat(dados.codItem.precoTotalItem).toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) 
                            vlTotal.dataset.valor = dados.codItem.precoTotalItem
                            console.log(dados)
                            var valorUnit = document.getElementById("valorUnit")
                            valorUnit.value = dados.codItem.precoUnit
                        } else {
                            alert(resp.data.erro)
                        }
                    })
                } else {

                }
            }
        </script>
        <%- include('../../partials/footer.ejs')%>