<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>
                    <div class="card border-primary mt-4">
                        <div class="card-header text-white bg-primary">
                            <h3>Vendas em processo</h3>
                        </div>
                        <div class="card-body">
                            <div class="accordion" id="accordionExample">
                                <%carrinhos.forEach((carrinho,index)=>{%>
                                    <%clientes.forEach(cliente=>{%>
                                        <%if(carrinho.clienteId == cliente.id){%>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading<%=index%>">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse<%=index%>" aria-expanded="false"
                                                    aria-controls="collapse<%=index%>">
                                                    <%var data = datas.find(data => data.carrinhoId == carrinho.id && data.clienteId == cliente.id)%>
                                                   <span> Carrinho #<%=carrinho.id%> Cliente: <strong><%=cliente.nome%></strong> - Ultima Modificação - <%=data.data%> </span>
                                                </button>
                                            </h2>
                                            <div id="collapse<%=index%>" class="accordion-collapse collapse"
                                                aria-labelledby="heading<%=index%>" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <strong>This is the first item's accordion body.</strong> It is
                                                    shown by default,
                                                    until the collapse plugin adds the appropriate classes that we use
                                                    to style each
                                                    element. These classes control the overall appearance, as well as
                                                    the showing and
                                                    hiding via CSS transitions. You can modify any of this with custom
                                                    CSS or overriding
                                                    our default variables. It's also worth noting that just about any
                                                    HTML can go within
                                                    the <code>.accordion-body</code>, though the transition does limit
                                                    overflow.
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                        <%})%>
                                            <%})%>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>