<%- include('../../partials/head.ejs')%>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
  <%- include('../../partials/nav.ejs')%>
    <div class="container-fluid">
      <div class="row">
        <%- include('../../partials/navegador.ejs')%>
          <div class="card mt-3">
            <div class="card-header">
              <div class="row">
                <di class="col-md-2">
                  <div class="form-check mt-md-2">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Todos
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" disabled name="flexRadioDefault"
                      id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Autorizadas
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" disabled name="flexRadioDefault"
                      id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Pendentes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" disabled name="flexRadioDefault"
                      id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Rejeitadas
                    </label>
                  </div>

                </di>
                <div class="col-md-3">
                  <select name="" disabled class="form-select mt-md-4" id="">
                    <option selected value="0">Todos Clientes</option>
                    <%clientes.forEach(cliente=>{%>
                      <option value="<%=cliente.id%>">
                        <%=cliente.nome%>
                      </option>
                      <%})%>
                  </select>
                  <input type="number" class="form-control mt-1" name="" disabled placeholder="ID Carrinho" id="">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control mt-1" name="" disabled placeholder="Codigo Venda" id="">
                  <input type="text" class="form-control mt-1" name="" disabled placeholder="Codigo Pagamento" id="">
                  <input type="text" class="form-control mt-1" name="" disabled placeholder="Codigo Entrega" id="">
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-xxl-6">
                      <label class="form-label" for="flexRadioDefault2">Periodo Inicial
                        <input type="date" disabled class="form-control" name="" id="">
                      </label>
                    </div>
                    <div class="col-xxl-6">
                      <label class="form-label" for="flexRadioDefault2">Periodo Final
                        <input type="date" disabled class="form-control" name="" id="">
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-success form-control mt-1 mt-md-3" disabled>Filtar</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <div class="table-responsive border-end">
                    <table class="table border-end" id="table1">
                      <thead>
                        <tr>
                          <th class="text-nowrap" scope="col">#</th>
                          <th class="text-nowrap" scope="col">ID</th>
                          <th class="text-nowrap" scope="col">dadosId</th>
                          <th class="text-nowrap" scope="col">Cliente</th>
                          <th class="text-nowrap" scope="col">Cod.Carrinho</th>
                          <th class="text-nowrap" scope="col">Data Venda</th>
                          <th class="text-nowrap" scope="col">Status</th>
                          <th class="text-nowrap" scope="col">Valor Total</th>
                          <th class="text-nowrap" scope="col">Qtd.Total</th>
                          <th class="text-nowrap" scope="col">Cod.Pagamento</th>
                          <th class="text-nowrap" scope="col">Form.Pagamento</th>
                          <th class="text-nowrap" scope="col">Status Pagamento</th>
                          <th class="text-nowrap" scope="col">Data Pagamento</th>
                          <th class="text-nowrap" scope="col">Cod.Rastreio</th>
                          <th class="text-nowrap" scope="col">Val.Entrega</th>
                          <th class="text-nowrap" scope="col">Sit.Entrega</th>
                          <th class="text-nowrap" scope="col">Data Entrega</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%dadosVendas.forEach(dadoVenda=>{%>
                                        <%var dadosPagamento=dadosPagamentos.find(pagamento=> pagamento.dadosId
                                          == dadoVenda.dadosId)%>
                                            <tr>
                                              <th scope="row"><input type="radio" name="vendaSelecionada"
                                                  value="<%=dadoVenda.id%>" onchange="produtos(this.value)"
                                                  id="vendaSelecionada"></th>

                                              <th scope="row">
                                                <%=dadoVenda.id%>
                                              </th>

                                              <td class="text-nowrap">
                                                <%=dadoVenda.dadosId%>
                                              </td>

                                              <%var cliente=clientes.find(c=> c.id == dadoVenda.clienteId)%>
                                                <td class="text-nowrap">
                                                  <%=cliente.nome%>
                                                </td>

                                                <%var carrinho=carrinhos.find(c=> c.id == dadoVenda.carrinhoId)%>
                                                  <td class="text-nowrap ps-md-5">
                                                    <%=carrinho.id%>
                                                  </td>

                                                  <%var dataVenda=datasVendas.find(d=> d.dadosId == dadoVenda.dadosId)%>
                                                    <td class="text-nowrap">
                                                      <%=dataVenda.data%>
                                                    </td>

                                                    <td class="text-nowrap ps-md-3">
                                                      <%=dadoVenda.statusId%>
                                                    </td>

                                                    <td class="text-nowrap">
                                                      <%=dadoVenda.unit_price%>
                                                    </td>

                                                    <td class="text-nowrap ps-md-4">
                                                      <%=carrinho.quantidade%>
                                                    </td>
                                                    <%if(dadosPagamento != undefined){%>
                                                    <td class="text-nowrap">
                                                      <%=dadosPagamento.ordeId%>
                                                    </td>

                                                    <td class="text-nowrap">
                                                      <%=dadosPagamento.tipoDePagamento%>
                                                    </td>
                                                    <%var stPagamento = statusPagamento.find(st => st.ordeId == dadosPagamento.ordeId)%>
                                                    <td class="text-nowrap">
                                                      <%=stPagamento.status%>
                                                    </td>
                                                    
                                                    <%var dataPagamento = datasPagamento.find(dtpag => dtpag.dadosId == dadosPagamento.dadosId)%>
                                                      <td class="text-nowrap">
                                                        <%=dataPagamento.data%>
                                                      </td>
                                                      <%}else{%>
                                                      <td>PAG. NÃO IDENTIFICADO</td>
                                                      <td>PAG. NÃO IDENTIFICADO</td>
                                                      <td>PAG. NÃO IDENTIFICADO</td>
                                                      <td>PAG. NÃO IDENTIFICADO</td>
                                                      <%}%>

                                                      <%var entrega=dadosEntregas.find(e=> e.carrinhoId == carrinho.id
                                                        && e.clienteId == cliente.id)%>
                                                        <td class="text-nowrap">
                                                          <%=entrega.codigoRastreioInterno%>
                                                        </td>
                                                        <td class="text-nowrap">
                                                          <%=entrega.valor%>
                                                        </td>
                                                        <td class="text-nowrap">
                                                          <%=entrega.status%>
                                                        </td>
                                                        <td class="text-nowrap">
                                                          <%=entrega.dataPrevista%>
                                                        </td>

                                            </tr>
                                                <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-2 mt-md-4 mt-2">
                  <a id="btnEditar" href="#" class="btn btn-warning text-white form-control">Editar</a>
                  <button class="btn btn-info text-white form-control my-2">Imprimir</button>
                  <button class="btn btn-danger text-white form-control">Deletar</button>
                </div>
              </div>
            </div>
            <div class="card-footer" id="tabelaProdutos" style="display: none;">
              <div class="table-responsive">

                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="text-nowrap">Cod.Produto</th>
                      <th class="text-nowrap">Descrição</th>
                      <th class="text-nowrap">Valor Unitario</th>
                      <th class="text-nowrap">Quantidade</th>
                      <th class="text-nowrap">Valor Descontro</th>
                      <th class="text-nowrap">Valor Acrescimo</th>
                      <th class="text-nowrap">Valor Total</th>
                    </tr>
                  </thead>
                  <tbody id="produtos">

                  </tbody>
                  <tfoot>
                    <th>Total:</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-nowrap ps-md-5" id="quantidadeTotal"></th>
                    <th class="text-nowrap" id="acrescimoTotal"></th>
                    <th class="text-nowrap" id="descontoTotal"></th>
                    <th class="text-nowrap" id="valorTotal"></th>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>


    <%- include('../../partials/footer.ejs')%>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap5.min.js"></script>
<script>$(document).ready(function() {
    $('#table1').DataTable();
} );</script>

      <script>
        function produtos(id) {
          document.getElementById("tabelaProdutos").style.display = 'inline'
          var tbody = document.getElementById('produtos')
          tbody.innerHTML = '<div class="spinner-grow text-primary" role="status"><span class="visually-hidden"></span></div>'
          axios.get("/produtos/vendas/" + id).then(resp => {
            if (resp.data.produtos != undefined) {
              var produtos = resp.data.produtos
              var valores = resp.data.valores
              document.getElementById("btnEditar").href = `/admin/vendas/transicoes/editar/${resp.data.dadosId}`

              tbody.innerHTML = ''

              produtos.forEach((produto, index) => {
                var tr = document.createElement('tr')
                tr.innerHTML = `<th>${parseInt(index + 1)}</th>
                    <td class="text-nowrap ps-md-4">${produto.id}</td>
                    <td class="text-nowrap">${produto.nome}</td>
                    <td class="text-nowrap">${produto.precoUnit}</td>
                    <td class="text-nowrap ps-md-5">${produto.quantidade}</td>
                    <td class="text-nowrap">${produto.acrescimo}</td>
                    <td class="text-nowrap">${produto.desconto}</td>
                    <td class="text-nowrap">${produto.valotTotalItem}</td>`
                tbody.insertBefore(tr, null)


              })
              
              document.getElementById('acrescimoTotal').innerHTML = `${valores.acrescimoTotal}`
              document.getElementById('descontoTotal').innerHTML = `${valores.descontoTotal}`
              document.getElementById('valorTotal').innerHTML = `${valores.valorTotal}`
              document.getElementById('quantidadeTotal').innerHTML = `${valores.quantidadeTotal}`
            } else {
              console.log(resp.data.erro)
              alert(resp.data.erro)
            }
          }).catch(err => {
            alert("Erro")
            console.log(erro)
          })
        }
      </script>